body{
  background-color: rgb(22, 45, 77);
}
.grow {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  height: 49px;
  width: 80%;
  margin: 5px 1% 5px 1%;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
}
.grow:hover {
  height: 145px;
}
.textTheme{
  color: white;
  font-size: 72px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

header{
  border-bottom: 1px solid
}

a { 
  text-decoration:none;
  color:white;
} /* Globally */