body{
	background-color: rgb(22, 45, 77);
}

.grid-container{
	display: grid;
	grid-template-columns: repeat(6, 1fr);;
	grid-template-rows: repeat(1, 100px);
}

.grid-item{
	border: 1px solid rgba(150, 150, 150, 0.8);
	text-align: center;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	color: white;
	text-shadow: 1px 1px black;
	font-weight: bold;
	font-size: 400%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

h1 {
	text-align: center;
	color: white;
}

label{
	color: white;
}

h4{
	color: white;
}

.textTheme{
	color: white;
	font-size: 72px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

header{
	border-bottom: 1px solid
}

a { 
  text-decoration:none;
  color:white;
} /* Globally */